dist: trusty
sudo: false

language: scala

jdk:
  - openjdk11

services:
  - docker

env:
  - DOCKER_COMPOSE_VERSION=1.24.1

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

scala:
  #  - 2.13.0
  - 2.12.10

script:
  - docker-compose up --detach
  - sbt ++$TRAVIS_SCALA_VERSION clean coverage test

after_success: sbt ++$TRAVIS_SCALA_VERSION coverageReport coverageAggregate coveralls

notifications:
  slack:
    on_success: never
    on_failure: always
    rooms:
      secure: "LPYQmHvGgTmiYygd5IAIMwHBoMwYY8ZPTV6npKQXoVIzxWdEbYTZV3uZ9QYYnbrL5mMDtf0cGBU6SO7YgAvE0mDapLEm+9R2Pu8bR37WUOXy1zbcODe7ad4cBtMVAx7d5AMXmhUvOMOPQJFLR1e3Xp5lHyNDYX7pFdXmXQL5m+ftfpyXEf/bXCInklSjcY9on+g4qmtYJicTaQmpynuHfUY3qCEDi5pftbkzivj+IqWMLH3II729TK1FtRFFsgtSX4F6IzRMrPZGD5rs4ikRNcHrCwTvEpcDR274X4901c81r4yBquhWJ3jB7NrUcyph86WzOnWE1+KI0AR3zyiNHEB+qka74gtBRsGRzlDxFL/DiUFMSwLiTy81wkuiD5/wkmjhqE1ZYbGXEJncXMwvEFyHHIM54YF3Dm/soXpMOFoAw9SCY2amZC88bsqWkOkjxjvLt+rSRoQhpmGXOrIYNI42PvUe7cgkOHoUjTrVUOf07wv16utDbf5lWowj7eYlFxobx8rYeOOP8qQGpDRL7J8r0x3zJEUVSnnaOiYiMAfWtFGDEzxxvb0dOilouAtz/eqZiMgtSZ/DmVmgdcGwO+LCVPZYAkswowWdJsc4iFLHUY62SYcJ+LQSlzn+FCMVevpBCSRPNq3yOQ/NIANPulPZJ7zSSGUP0Hpnk81e/GY="

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete